@media only screen and (max-width: 766px) {
	.navbar-header, .navbar-collapse {
	  width: 100%;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	  top: 4px;
	}
}

.navbar-toggle {
  margin-right: 15px;
  border: initial;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
  	margin-right: 0px;
	margin-left: 0px;
}

.nav>li {
	border-bottom: initial;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: #0CC7C7;
}

.navbar-inverse {
  height: 60px;
}

.navbar-header {
  margin-top: 5px;
}

.navbar-brand {
	 padding: 1px 30px;
}

.section, .section-colored {
  padding: 57px 0;
}

/* PACE LOADING THEME*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress {
  background: #07ccd4;
  height: 3px;
}
.home {
    padding-top: 500px;
}

.home4 {
    padding-top: 500px;
}
