@media only screen and (max-width: 766px) {
	.navbar-header, .navbar-collapse {
	  width: 100%;
	}
}

.navbar-toggle {
  margin-right: 15px;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
  	margin-right: 0px;
	margin-left: 0px;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}